<%= form_with(model: inventory_level) do |form| %>
  <% if inventory_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_level.errors.count, "error") %> prohibited this inventory_level from being saved:</h2>

      <ul>
        <% inventory_level.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>
  
  <div class="field">
    <%= form.label :warehouse_id %>
    <%= form.number_field :warehouse_id %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.number_field :available %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
